<section class="exp-linked-industries" {{ anchor_block(fields.anchor_block) }}>
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-8 offset-lg-2 text-lg-center">
                {% if fields.is_show_title == true %}
                    {{ check_value(fields.title, 'h2', 'exp-linked-industries__title') }}
                {% endif %}

                {% if fields.is_show_text == true %}
                    {{ check_value(fields.text, 'p', 'exp-linked-industries__content') }}
                {% endif %}

                {% if fields.is_show_link == true and fields.link is array %}
                    {% include "partial/button.twig" with {
                        url : fields.link.url,
                        title : fields.link.title,
                        target : fields.link.target,
                        class : 'btn--primary',
                        icon : 'arrow-right'
                    } %}
                {% endif %}
            </div>
        </div>

        <div class="exp-linked-industries__block-wrapper">
            <div class="row g-3 justify-content-center">
                {% for item in post_fields.p2p_service_industry %}
                    {% set industy_fields = get_acf_fields(item.ID) %}
                    <div class="col-6 col-sm-4 col-md-3 col-lg-2">
                        <div class="exp-linked-industries__block">
                            {% for icon in industy_fields.icon %}
                                <span>{{ fetch_svg(icon.icons) }}</span>
                            {% endfor %}

                            {{ check_value(item.post_title, 'h4', null) }}

                            <a href="{{ get_link(item.ID) }}" class="click-url"></a>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</section>
