<section class="exp-highlights {{ background_color(fields.background_color) }}">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12">
                {{ check_value(fields.title, 'h2', "exp-highlights__title") }}
            </div>
            {% if fields.elements is array %}
                {% set elementsBatched = fields.elements|batch(4) %}
                {% for elementsRow in elementsBatched %}
                    <div class="col-12 row">
                        {% for element in elementsRow %}
                            <div class="col-lg-3 text-left mb-5">
                                <div class="exp-highlights__content">
                                    <div>
                                        {% if element.image is not empty %}
                                            <img class="exp-highlights__icon"
                                                 src="{{ element.image['url'] }}"
                                                 alt="{{ element.image['title'] }}"
                                                 title="{{ element.image['title'] }}"
                                                 loading="lazy"
                                            />
                                        {% endif %}
                                        {{ check_value(element.title|slice(0, 36), 'h5', "exp-highlights__highlight-title") }}
                                        {{ check_value(element.subtitle|slice(0, 85) , 'p', "exp-highlights__highlight-text") }}
                                    </div>
                                    {% if element.call_to_action is array %}
                                        {% include "partial/button.twig" with {
                                            url : element.call_to_action.url,
                                            title : element.call_to_action.title,
                                            target : element.call_to_action.url,
                                            class : 'btn--primary exp-highlights__highlight-link',
                                            icon : 'arrow-left',
                                        } %}
                                    {% endif %}
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                {% endfor %}
            {% endif %}
        </div>
    </div>
</section>
