<section class="exp-value-propositions {{ background_color(fields.background_color) }}" {{ anchor_block(fields.anchor_block) }}>
    <div class="container">
        <div class="row">
            <div class="col-12 text-lg-center">
                {% if fields.is_show_title == true %}
                    {{ check_value(fields.title, 'h2', 'exp-value-propositions__title') }}
                {% endif %}

                {% if fields.is_show_text == true %}
                    {{ check_value(fields.text, 'p', 'exp-value-propositions__content') }}
                {% endif %}

                {% if fields.is_show_image == true %}
                    {% set image = Image(fields.image) %}
                    <img src="{{ image.src }}" srcset="{{ image.srcset }}" alt="{{ image.title }}" title="{{ image.title }}" loading="lazy"/>
                {% endif %}
            </div>
        </div>

        {% if fields.value_propositions_repeater is array %}
            <div class="row justify-content-center">
                {% for item in fields.value_propositions_repeater %}
                    <div class="col-12 col-md-6 col-lg-3">
                        <div class="exp-value-propositions__block">
                            <span>{{ loop.index }}.</span>
                            {{ check_value(item.title, 'h3', null) }}
                            {{ check_value(item.text, 'p', null) }}
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% endif %}

        {% if fields.is_show_link == true and fields.link is array %}
            <div class="row">
                <div class="col-12 text-lg-center">
                    {% include "partial/button.twig" with {
                        url : fields.link.url,
                        title : fields.link.title,
                        target : fields.link.target,
                        class : 'btn--primary',
                        icon : 'arrow-right'
                    } %}
                </div>
            </div>
        {% endif %}
    </div>
</section>
