<header class="big-visual-header">
    <div class="big-visual-header__background">
        {% if fields.is_image_or_video == true and fields.image %}
            <picture>
                {% if fields.header_image is not empty %}
                    {% set headerImage = Image(fields.header_image) %}
                {% else %}
                    {% set headerImage = Image(theme.link ~ '/images/big-visual-header-placeholder.jpg') %}
                {% endif %}
                <img src="{{ headerImage.src }}" srcset="{{ headerImage.srcset }}" alt="{{ headerImage.title }}"
                     title="{{ headerImage.title }}" loading="lazy"/>
            </picture>
        {% elseif fields.is_image_or_video == false and fields.vimeo_id is not empty %}
            {% include 'templates/partial/modal-with-plyr.twig' with { vimeo_id : fields.vimeo_id } %}
        {% endif %}
    </div>

    <div class="big-visual-header__breadcrumbs">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    {{ custom_breadcrumbs() }}
                </div>
            </div>
        </div>
    </div>

    <div class="big-visual-header__content">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    {% if fields.is_show_subtitle == true %}
                        {{ check_value(fields.subtitle, 'p', 'CLASS') }}
                    {% endif %}
                    {% if fields.use_default_title == true %}
                        <h1>{{ function('get_the_title') }}</h1>
                    {% else %}
                        {{ check_value(fields.custom_title, 'h1', null) }}
                    {% endif %}

                    <div class="big-visual-header__buttons">
                        {% if fields.is_show_scroll_link == true %}
                            <button class="scroll-explore-button badge">{{ __('Scroll to explore', 'expedition') }}</button>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
