<header class="featured-insight-header">
    <div class="featured-insight-header__background">
        <picture>
            {% if featured_insight is array %}
                {% set featured_insight_fields = get_acf_fields(featured_insight.0.ID) %}
            {% endif %}
            {% if featured_insight_fields.cover_image is array %}
                {% set headerImage = Image(featured_insight_fields.cover_image) %}
            {% elseif fields.fallback_image is not empty %}
                {% set headerImage = Image(fields.fallback_image) %}
            {% else %}
                {% set headerImage = Image(theme.link ~ '/images/featured-insight-header-placeholder.jpg') %}
            {% endif %}
            <img src="{{ headerImage.src }}" srcset="{{ headerImage.srcset }}" alt="{{ headerImage.title }}"
                 title="{{ headerImage.title }}" loading="lazy"/>
        </picture>
    </div>

    <div class="featured-insight-header__breadcrumbs">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    {{ custom_breadcrumbs() }}
                </div>
            </div>
        </div>
    </div>

    <div class="featured-insight-header__content">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    {% if featured_insight is array %}
                        {% set terms = function('get_the_terms', featured_insight.0.ID, 'insight_type') %}

                        {% if terms is array %}
                            {% for term in terms %}
                                <span class="badge badge--primary">{{ term.name }}</span>
                            {% endfor %}
                        {% endif %}
                        {{ check_value(featured_insight.0.post_title, 'h1', null) }}
                        <a href="{{ get_link(featured_insight.0.ID) }}">{{ __('Read this', 'expedition') }} {{ terms is array ? terms.0.name : __('insight', 'expedition') }}</a>
                    {% else %}
                        {{ check_value(fields.fallback_title, 'h1', null) }}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</header>
