<section class="exp-homepage-header">
    <div class="container">
        <div class="row">
            <div class="col-12">
                {% if fields.show_title == true %}
                    {{ check_value(fields.title|striptags('<strong>'), 'p', 'exp-homepage-header__title') }}
                {% endif %}

                {% if fields.show_text == true %}
                    {{ check_value(fields.text, 'p', 'exp-homepage-header__text') }}
                {% endif %}
            </div>
        </div>

        <div class="row">
            <div class="col-12 exp-homepage-header__media-gutter">
                {% if fields.media_items is array %}
                    <div class="exp-homepage-header__media-wrapper">
                        {% for item in fields.media_items %}
                            <div class="exp-homepage-header__media">
                                <div class="exp-homepage-header__media-item-wrapper">

                                    {% if item.title is not empty %}
                                        <div class="exp-homepage-header__media-title">
                                            {{ item.title }}
                                        </div>
                                    {% endif %}

                                    {% if item.media.type == "video" %}
                                        {% if item.media is not empty %}
                                            <video class="exp-homepage-header__media-item" width="100%" height="100%" autoplay muted>
                                                <source src="{{ item.media.url }}" type="{{ item.media.mime_type }}">
                                            </video>
                                        {% endif %}
                                    {% else %}
                                        {% if item.media is not empty %}
                                            {% set newImage = Image(item.media) %}
                                            <img class="exp-homepage-header__media-item"
                                                src="{{ newImage.src }}"
                                                srcset="{{ newImage.srcset('medium') }}"
                                                alt="{{ newImage.title }}"
                                                title="{{ newImage.title }}"
                                                loading="lazy"
                                            />
                                        {% endif %}
                                    {% endif %}
                                </div>

                                {% if item.link is array %}
                                    <div class="exp-homepage-header__media-link-wrapper">
                                        {% include "partial/button.twig" with {
                                            url : item.link.url,
                                            title : item.link.title,
                                            target : item.link.target,
                                            class : 'btn--primary',
                                            icon : 'arrow-right'
                                        } %}
                                    </div>
                                {% endif %}
                            </div>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
</section>
