<section class="exp-split-content-header">
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-5 d-flex order-2 order-lg-1">
                <div class="exp-split-content-header__content-wrapper">
                    <div class="exp-split-content-header__breadcrumbs d-none d-lg-block">
                        {{ custom_breadcrumbs() }}
                    </div>

                    <div class="exp-split-content-header__text-wrapper">
                        {% if fields.show_title == true %}
                            {{ check_value(fields.title, 'h1', 'exp-split-content-header__title') }}
                        {% endif %}

                        {% if fields.show_text == true %}
                            {{ check_value(fields.text, 'p', 'exp-split-content-header__text') }}
                        {% endif %}
                    </div>

                    <div class="exp-split-content-header__button-wrapper">
                        {% if fields.show_textlink == true and fields.text_link is array %}
                            {% include "partial/button.twig" with {
                                url : fields.text_link.url,
                                title : fields.text_link.title,
                                target : '_self',
                                class : 'btn--primary',
                                icon : 'arrow-down'
                            } %}
                        {% endif %}
                    </div>
                </div>
            </div>

            <div class="col-12 col-lg-7 order-1 order-lg-2 gx-0 gx-md-8">
                <div class="exp-split-content-header__breadcrumbs d-block d-lg-none">
                    {{ custom_breadcrumbs() }}
                </div>

                {% if fields.is_image_or_video == true and fields.image %}
                    {% set newImage = Image(fields.image) %}
                    <img class="exp-split-content-header__image"
                         src="{{ newImage.src }}"
                         srcset="{{ newImage.srcset }}"
                         alt="{{ newImage.title }}"
                         title="{{ newImage.title }}"
                         loading="lazy"
                    />
                {% elseif fields.is_image_or_video == false and fields.vimeo_id is not empty %}
                    <div class="exp-split-content-header__image-wrapper exp-split-content-header__image-wrapper--video" data-bs-toggle="modal" data-bs-target="#videoModal">
                        {% set headerImage = Image(fields.image) %}
                        <img class="exp-split-content-header__image" src="{{ headerImage.src }}" srcset="{{ headerImage.srcset }}" alt="{{ headerImage.title }}" title="{{ headerImage.title }}" loading="lazy" />
                    </div>

                    {% include 'templates/partial/modal-with-plyr.twig' with { vimeo_id : fields.vimeo_id } %}

                {% endif %}
            </div>
        </div>
    </div>
</section>

