<header class="header">
    {% block header %}
        {%  if is_home() %}
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        {% if exp_mobile() %}
                            <div class="header__container header__container-mobile">
                                <a href="#" class="header__hamburger-menu">
                                    {{ fetch_svg('hamburger') }}
                                </a>

                                <nav id="nav-main" class="nav-main" role="navigation">
                                    <a class="header__navbar-brand d-flex justify-content-center" href="{{ site.url }}" title="{{ site.name }}">
                                        {% if options.header_logo is not empty %}
                                            <img src="{{ options.header_logo.url }}" alt="{{ site.name }}" class="header__logo" />
                                        {% else %}
                                            <h1>{{ site.name }}</h1>
                                        {% endif %}
                                    </a>
                                    {% include "components/menu/menu-primary.twig" with {'items': primarymenu.get_items} %}
                                </nav>

                                <div class="header__cta">
                                    {% include "partial/button.twig" with {
                                        url : is_logged_in() ? '/my-account/product_request_modify/' : '/register',
                                        title : 'درخواست خرید',
                                        class : 'btn--buy-request',
                                        icon : 'chemistry'
                                    } %}
                                </div>

                                <div class="header__account">
                                    {%  set userDisplayName = user_display_name() %}
                                    {% if is_logged_in() %}
                                        {% include "partial/dropdown.twig" with {
                                            url : '#',
                                            title : ' کاربر ' ~ userDisplayName,
                                            titleItemOne : 'پروفایل',
                                            titleItemTwo : 'خروج',
                                            linkItemOne : '/my-account/my_dashboard',
                                            linkItemTwo : user_logout(),
                                            class : 'btn--login-cta',
                                            icon : 'profile',
                                        } %}
                                    {% else %}
                                        {% include "partial/dropdown.twig" with {
                                            url : '#',
                                            title : 'ثبت نام/عضویت',
                                            titleItemOne : 'ورود',
                                            titleItemTwo : 'ثبت نام',
                                            linkItemOne : '/login',
                                            linkItemTwo : '/register',
                                            class : 'btn--login-cta',
                                            icon : 'profile',
                                        } %}
                                    {% endif %}
                                </div>

                            </div>
                        {% else %}
                            <div class="header__container">
                                <a class="header__navbar-brand d-flex flex-grow-2" href="{{ site.url }}" title="{{ site.name }}">
                                    {% if options.header_logo is not empty %}
                                        <img src="{{ options.header_logo.url }}" alt="{{ site.name }}" class="header__logo" />
                                    {% else %}
                                        <h1>{{ site.name }}</h1>
                                    {% endif %}
                                </a>

                                <nav id="nav-main" class="nav-main" role="navigation">
                                    {% include "components/menu/menu-primary.twig" with {'items': primarymenu.get_items} %}
                                </nav>

                                <div class="header__cta">
                                    {% include "partial/button.twig" with {
                                        url : is_logged_in() ? '/my-account/product_request_modify/' : '/register',
                                        title : 'درخواست خرید',
                                        class : 'btn--buy-request',
                                        icon : 'chemistry'
                                    } %}
                                </div>

                                <div class="header__account">
                                    {% if is_logged_in() %}
                                        {%  set userDisplayName = user_display_name() %}
                                        {% include "partial/dropdown.twig" with {
                                            url : '#',
                                            title : ' کاربر ' ~ userDisplayName,
                                            titleItemOne : 'پروفایل',
                                            titleItemTwo : 'خروج',
                                            linkItemOne : '/my-account/my_dashboard',
                                            linkItemTwo : user_logout(),
                                            class : 'btn--login-cta',
                                            icon : 'profile',
                                        } %}
                                    {% else %}
                                        {% include "partial/dropdown.twig" with {
                                            url : '#',
                                            title : 'ثبت نام/عضویت',
                                            titleItemOne : 'ورود',
                                            titleItemTwo : 'ثبت نام',
                                            linkItemOne : '/login',
                                            linkItemTwo : '/register',
                                            class : 'btn--login-cta',
                                            icon : 'profile',
                                        } %}
                                    {% endif %}
                                </div>

                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        {% else %}
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        {% if exp_mobile() %}
                            <div class="header__container header__container-mobile">
                                <a href="#" class="header__hamburger-menu">
                                    {{ fetch_svg('hamburger') }}
                                </a>

                                <nav id="nav-main" class="nav-main" role="navigation">
                                    <a class="header__navbar-brand d-flex justify-content-center" href="{{ site.url }}" title="{{ site.name }}">
                                        {% if options.header_logo is not empty %}
                                            <img src="{{ options.header_logo.url }}" alt="{{ site.name }}" class="header__logo" />
                                        {% else %}
                                            <h1>{{ site.name }}</h1>
                                        {% endif %}
                                    </a>
                                    {% include "components/menu/menu-primary.twig" with {'items': primarymenu.get_items} %}
                                </nav>

                                <div class="header__cta">
                                    {% include "partial/button.twig" with {
                                        url : is_logged_in() ? '/my-account/product_request_modify/' : '/register',
                                        title : 'درخواست خرید',
                                        class : 'btn--buy-request',
                                        icon : 'chemistry'
                                    } %}
                                </div>

                                <div class="header__account">
                                    {% if is_logged_in() %}
                                        {%  set userDisplayName = user_display_name() %}
                                        {% include "partial/dropdown.twig" with {
                                            url : '#',
                                            title : ' کاربر ' ~ userDisplayName,
                                            titleItemOne : 'پروفایل',
                                            titleItemTwo : 'خروج',
                                            linkItemOne : '/my-account/my_dashboard',
                                            linkItemTwo : user_logout(),
                                            class : 'btn--login-cta',
                                            icon : 'profile',
                                        } %}
                                    {% else %}
                                        {% include "partial/dropdown.twig" with {
                                            url : '#',
                                            title : 'ثبت نام/عضویت',
                                            titleItemOne : 'ورود',
                                            titleItemTwo : 'ثبت نام',
                                            linkItemOne : '/login',
                                            linkItemTwo : '/register',
                                            class : 'btn--login-cta',
                                            icon : 'profile',
                                        } %}
                                    {% endif %}
                                </div>

                            </div>
                        {% else %}
                            <div class="header__container">
                                <a class="header__navbar-brand d-flex flex-grow-2" href="{{ site.url }}" title="{{ site.name }}">
                                    {% if options.header_logo is not empty %}
                                        <img src="{{ options.header_logo.url }}" alt="{{ site.name }}" class="header__logo" />
                                    {% else %}
                                        <h1>{{ site.name }}</h1>
                                    {% endif %}
                                </a>

                                <div class="header__search">
                                    <div class="search-box">
                                         {%  include "searchform.twig" %}
                                    </div>
                                </div>

                                <div class="header__cta">
                                    {% include "partial/button.twig" with {
                                        url : is_logged_in() ? '/my-account/product_request_modify/' : '/register',
                                        title : 'درخواست خرید',
                                        class : 'btn--buy-request',
                                        icon : 'chemistry'
                                    } %}
                                </div>

                                <div class="header__account">
                                    {% if is_logged_in() %}
                                        {%  set userDisplayName = user_display_name() %}
                                        {% include "partial/dropdown.twig" with {
                                            url : '#',
                                            title : ' کاربر ' ~ userDisplayName,
                                            titleItemOne : 'پروفایل',
                                            titleItemTwo : 'خروج',
                                            linkItemOne : '/my-account/my_dashboard',
                                            linkItemTwo : user_logout(),
                                            class : 'btn--login-cta',
                                            icon : 'profile',
                                        } %}
                                    {% else %}
                                        {% include "partial/dropdown.twig" with {
                                            url : '#',
                                            title : 'ثبت نام/عضویت',
                                            titleItemOne : 'ورود',
                                            titleItemTwo : 'ثبت نام',
                                            linkItemOne : '/login',
                                            linkItemTwo : '/register',
                                            class : 'btn--login-cta',
                                            icon : 'profile',
                                        } %}
                                    {% endif %}
                                </div>

                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>

            {% if not exp_mobile()  %}
                <div class="header__nav header--nav-not-home">
                    <nav id="nav-main" class="nav-main" role="navigation">
                        {% include "components/menu/menu-primary.twig" with {'items': primarymenu.get_items} %}
                    </nav>
                </div>
            {% endif %}

        {% endif %}
    {% endblock %}
</header>