{% block content %}
    <div class="pt-5 pb-5 bg-white rounded-4 h-100">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    {% if results is defined %}
                        {% if results.products.found_posts > 0 %}
                            <h4>محصولات موجود:</h4>
                            <ul>
                                {% for post in results.products %}
                                    <li class="search__results-ajax-list">
                                        <div class="search__results-ajax-image">
                                            {% if post.thumbnail.src %}
                                                <img src="{{ post.thumbnail.src | resize(95, 95) }}" />
                                            {% endif %}
                                        </div>
                                        {%  set productTaxonomyNo = post.get_terms('product_cas_no') %}
                                        <div class="search__results-ajax-content">
                                            <p><strong>{{ post.title }}</strong></p>
                                            {% for productTaxonomy in productTaxonomyNo %}
                                                <p>{{ productTaxonomy.name }}</p>
                                            {% endfor %}
                                        </div>
                                        <a href="{{ post.get_permalink() }}" class="search__results-ajax-link"></a>
                                    </li>
                                {% endfor %}
                            </ul>
                        {% endif %}

                        {% if results.taxonomy_related %}
                            <h4>Cas No. های موجود</h4>
                            <ul>
                                {% for post in results.taxonomy_related %}
                                    <li class="search__results-ajax-list">
                                        <div class="search__results-ajax-image">
                                            {% if post.thumbnail.src %}
                                                <img src="{{ post.thumbnail.src | resize(95, 95) }}" />
                                            {% endif %}
                                        </div>
                                        <div class="search__results-ajax-content">
                                            <p><strong>{{ post.name }}</strong></p>
                                        </div>
                                        <a href="{{ post.get_permalink() }}" class="search__results-ajax-link"></a>
                                    </li>
                                {% endfor %}
                            </ul>
                        {% endif %}

                        {% if not results.products.found_posts and not results.taxonomy_related %}
                            <p>متاسفم، محصول یا دسته‌بندی مورد نظرت پیدا نشد :(</p>
                            {% include "partial/button.twig" with {
                                url : '#',
                                title : 'ثبت درخواست محصول جدید',
                                target : '_blank',
                                class : 'btn--primary',
                                icon : 'arrow-left'
                            } %}
                        {% endif %}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

{% endblock %}
