{% extends 'single.twig' %}

{% block content %}
	<header class="company-single__banner image-header">
		<div class="image-header__background">
			<picture>
				<img src="{{ post.thumbnail.src }}" srcset="{{ post.thumbnail.srcset }}" alt="{{ post.thumbnail.title }}" title="{{ post.thumbnail.title }}" loading="lazy" />
			</picture>
		</div>
		<div class="company-single__socials footer__socials">
			<ul>
				<li>
					<a href="{{ post.company_email_icon }}" title="{{ __('ایمیل', 'expedition') }}" target="_blank" rel="noindex nofollow">
						{{ fetch_svg('envelope') }}
					</a>
				</li>
				<li>
					<a href="{{ post.company_whatsapp }}" title="{{ __('واتس اپ', 'expedition') }}" target="_blank" rel="noindex nofollow">
						{{ fetch_svg('whatsapp') }}
					</a>
				</li>
				<li>
					<a href="{{ post.company_instagram }}" title="{{ __('اینستاگرام', 'expedition') }}" target="_blank" rel="noindex nofollow">
						{{ fetch_svg('instagram') }}
					</a>
				</li>
				<li>
					<a href="{{ post.company_youtube }}" title="{{ __('یوتیوب', 'expedition') }}" target="_blank" rel="noindex nofollow">
						{{ fetch_svg('youtube') }}
					</a>
				</li>
				<li>
					<a href="{{ post.company_telegram }}" title="{{ __('تلگرام', 'expedition') }}" target="_blank" rel="noindex nofollow">
						{{ fetch_svg('paperplane') }}
					</a>
				</li>
				<li>
					<a href="{{ post.company_twitter }}" title="{{ __('توییتر', 'expedition') }}" target="_blank" rel="noindex nofollow">
						{{ fetch_svg('twitter') }}
					</a>
				</li>
				<li>
					<a href="{{ post.company_facebook }}" title="{{ __('فیسبوک', 'expedition') }}" target="_blank" rel="noindex nofollow">
						{{ fetch_svg('facebook') }}
					</a>
				</li>
				<li>
					<a href="{{ post.company_aparat }}" title="{{ __('آپارات', 'expedition') }}" target="_blank" rel="noindex nofollow">
						{{ fetch_svg('aparat') }}
					</a>
				</li>
			</ul>
		</div>
		<div class="company-single__url">
			<a href="{{ post.company_url }}" title="{{ post.company_url }}" target="_blank" rel="noindex nofollow">
				milimol.com
            </a>
        </div>
	</header>
	<section class="container">
		<div class="row">
			<div class="col-md-4">
				<div class="company-single__sidebar">
					{% set companyIcon = Image(post.company_icon) %}
					<div class="company-single__icon">
						<img src="{{ companyIcon.src }}"
							 srcset="{{ companyIcon.srcset }}"
							 alt="{{ companyIcon.title }}"
							 title="{{ companyIcon.title }}"
							 loading="lazy"
						/>
					</div>
					<h3 class="company-single__company-name">{{ post.title }}</h3>
					<div class="company-single__contact-btn">
						{% include "partial/button.twig" with {
							url : post.url,
							title : 'تماس با شرکت',
							target : fields.button.target,
							class : 'btn--primary company-single__button',
							icon : 'phone'
						} %}
					</div>
					<div class="company-single__image-gallery">
						<div class="company-single__image-gallery-item">
							<img src="/wp-content/uploads/2023/07/close-up-researcher-holding-glassware-1.jpg"
								 alt="image-gallery"
								 loading="lazy"
							/>
						</div>
						<div class="company-single__image-gallery-item">
							<img src="/wp-content/uploads/2023/07/close-up-researcher-holding-glassware-1.jpg"
								 alt="image-gallery"
								 loading="lazy"
							/>
						</div>
						<div class="company-single__image-gallery-item">
							<img src="/wp-content/uploads/2023/07/close-up-researcher-holding-glassware-1.jpg"
								 alt="image-gallery"
								 loading="lazy"
							/>
						</div>
						<div class="company-single__image-gallery-item">
							<img src="/wp-content/uploads/2023/07/close-up-researcher-holding-glassware-1.jpg"
								 alt="image-gallery"
								 loading="lazy"
							/>
						</div>
						<div class="company-single__image-gallery-item">
							<img src="/wp-content/uploads/2023/07/close-up-researcher-holding-glassware-1.jpg"
								 alt="image-gallery"
								 loading="lazy"
							/>
						</div>
						<div class="company-single__image-gallery-item">
							<img src="/wp-content/uploads/2023/07/close-up-researcher-holding-glassware-1.jpg"
								 alt="image-gallery"
								 loading="lazy"
							/>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-8">
				<article id="post-{{ post.ID }}" class="container company-single__main-content post-{{ post.ID }} single-{{ post.post_type }}">
					<div class="row company-single__intro">
						<div class="col-12">
							<div class="company-single__intro-content">
								<span>رزومه:</span>
								<p>{{ post.company_intro }}</p>
							</div>
						</div>
					</div>
					<div class="row company-single--ad-banner">
						<div class="image-banner">
							<div class="image-banner__background">
								<picture>
									<img src="/wp-content/uploads/2023/07/chemistry-gc45c6f7a0.jpg" srcset="{{ desktopImage.srcset }}" alt="{{ desktopImage.title }}" title="{{ desktopImage.title }}" loading="lazy" />
								</picture>
							</div>
						</div>
					</div>
					<div class="row company-single__info">
						<div class="col-12 mb-3 col-lg-6 ">
							<div class="company-single__info-icon company-single--country">
								{{ fetch_svg('flag') }}
								<span>کشور:</span>
								<p>{{ post.company_ }}</p>
							</div>
							<div class="company-single__info-icon company-single--city">
								{{ fetch_svg('city') }}
								<span>شهر:</span>
								<p>{{ post.company_ }}</p>
							</div>
							<div class="company-single__info-icon company-single--job-field">
								{{ fetch_svg('chemistry') }}
								<span>نوع فعالیت:</span>
								<p>{{ post.company_ }}</p>
							</div>
							<div class="company-single__info-icon company-single--start-date">
								{{ fetch_svg('meta-calendar') }}
								<span>سال تاسیس:</span>
								<p>{{ post.company_ }}</p>
							</div>
							<div class="company-single__info-icon company-single--ceo">
								{{ fetch_svg('profile') }}
								<span>مدیر عامل:</span>
								<p>{{ post.company_ }}</p>
							</div>
							<div class="company-single__info-icon company-single--personnel-no">
								{{ fetch_svg('users') }}
								<span>تعداد پرسنل:</span>
								<p>{{ post.company_ }}</p>
							</div>
						</div>
						<div class="col-12 mb-3 col-lg-6 ">
							<div class="company-single__info-icon company-single--office-phone">
								{{ fetch_svg('office-phone') }}
								<span>تلفن دفتر:</span>
								<p>{{ post.company_ }}</p>
							</div>
							<div class="company-single__info-icon company-single--company-phone">
								{{ fetch_svg('office-phone') }}
								<span>تلفن کارخانه:</span>
								<p>{{ post.company_ }}</p>
							</div>
							<div class="company-single__info-icon company-single--office-address">
								{{ fetch_svg('tea-cup') }}
								<span>آدرس دفتر:</span>
								<p>{{ post.company_ }}</p>
							</div>
							<div class="company-single__info-icon company-single--company-address">
								{{ fetch_svg('factory') }}
								<span>آدرس کارخانه:</span>
								<p>{{ post.company_ }}</p>
							</div>
							<div class="company-single__info-icon company-single--mobile">
								{{ fetch_svg('phone') }}
								<span>موبایل:</span>
								<p>{{ post.company_phone }}</p>
							</div>
							<div class="company-single__info-icon company-single--fax">
								{{ fetch_svg('fax') }}
								<span>دورنگار:</span>
								<p>{{ post.company_ }}</p>
							</div>
							<div class="company-single__info-icon company-single--email">
								{{ fetch_svg('envelope') }}
								<span>پست الکترونیک:</span>
								<p>{{ post.company_email }}</p>
							</div>
						</div>
					</div>
					{% include 'blocks/sliders/related-products-slider.twig' with {
						relatedProductTitle : 'محصولات شرکت'
					} %}
					{% include 'blocks/layout/video-company.twig' %}
					{% include 'blocks/sliders/related-content-slider.twig' with {
						relatedContentTitle : 'مشتریان',
						relatedContentBtn : ''
					} %}
					{% include 'blocks/sliders/related-content-slider.twig' with {
						relatedContentTitle : 'کاتالوگ',
						relatedContentBtn : 'دانلود'
					} %}
					{% include 'blocks/sliders/related-content-slider.twig' with {
						relatedContentTitle : 'مجوز و گواهی ها',
						relatedContentBtn : 'استاندارد تیترازول'
					} %}
				</article>
			</div>
		</div>
	</section>
{% endblock %}
