{% extends 'single.twig' %}

{% block content %}

	<header class="company-single__banner image-header">
		<div class="image-header__background">
			<picture>
				<img
					src="{{ post.thumbnail.src }}"
					srcset="{{ post.thumbnail.srcset }}"
					alt="{{ post.thumbnail.title }}"
					title="{{ post.thumbnail.title }}"
					loading="lazy" />
			</picture>
		</div>
		<div class="company-single__socials footer__socials">
			<ul>
				<li>
					<a href="{{ post.company_email_icon }}" title="{{ __('ایمیل', 'expedition') }}" target="_blank" rel="noindex nofollow">
						{{ fetch_svg('envelope') }}
					</a>
				</li>
				<li>
					<a href="{{ post.company_whatsapp }}" title="{{ __('واتس اپ', 'expedition') }}" target="_blank" rel="noindex nofollow">
						{{ fetch_svg('whatsapp') }}
					</a>
				</li>
				<li>
					<a href="{{ post.company_instagram }}" title="{{ __('اینستاگرام', 'expedition') }}" target="_blank" rel="noindex nofollow">
						{{ fetch_svg('instagram') }}
					</a>
				</li>
				<li>
					<a href="{{ post.company_youtube }}" title="{{ __('یوتیوب', 'expedition') }}" target="_blank" rel="noindex nofollow">
						{{ fetch_svg('youtube') }}
					</a>
				</li>
				<li>
					<a href="{{ post.company_telegram }}" title="{{ __('تلگرام', 'expedition') }}" target="_blank" rel="noindex nofollow">
						{{ fetch_svg('paperplane') }}
					</a>
				</li>
				<li>
					<a href="{{ post.company_twitter }}" title="{{ __('توییتر', 'expedition') }}" target="_blank" rel="noindex nofollow">
						{{ fetch_svg('twitter') }}
					</a>
				</li>
				<li>
					<a href="{{ post.company_facebook }}" title="{{ __('فیسبوک', 'expedition') }}" target="_blank" rel="noindex nofollow">
						{{ fetch_svg('facebook') }}
					</a>
				</li>
				<li>
					<a href="{{ post.company_aparat }}" title="{{ __('آپارات', 'expedition') }}" target="_blank" rel="noindex nofollow">
						{{ fetch_svg('aparat') }}
					</a>
				</li>
			</ul>
		</div>
		<div class="company-single__url">
			<a href="{{ post.company_website }}" title="{{ post.company_website }}" target="_blank" rel="noindex nofollow">
				{{ post.company_website }}
            </a>
        </div>
	</header>
	<section class="container">
		<div class="row">
			<div class="col-md-4">
				<div class="company-single__sidebar">
					{% set companyIcon = Image(post.company_icon) %}
					<div class="company-single__icon">
						<img src="{{ companyIcon.src }}"
							 srcset="{{ companyIcon.srcset }}"
							 alt="{{ companyIcon.title }}"
							 title="{{ companyIcon.title }}"
							 loading="lazy"
						/>
					</div>
					<h3 class="company-single__company-name">{{ post.title }}</h3>
					<div class="company-single__contact-btn">
						{% include "partial/button.twig" with {
							url : is_logged_in() ? 'tel:' ~ post.get_field('company_mobile') : '/register',
							title : 'تماس با شرکت',
							target : fields.button.target,
							class : 'btn--primary company-single__button',
							icon : 'phone'
						} %}
					</div>
					<div class="container gx-0 single__message">
						{% set companyAuthor = company_user(post.ID) %}
						<form class="row single__message-form" id="message-form-{{ post.ID }}" action="" method="POST">

							<div class="col-12 mb-4 single__message-form-content">
								<label for="message-subject">موضوع: </label>
								<input class="single__message-input" type="text" id="message-subject" name="subject" required placeholder="عنوان پیام را وارد کنید." {{ is_logged_in() ? '' : 'disabled' }}
								{{ current_user_login() == companyAuthor ? 'disabled' : '' }} >
							</div>
							<div class="col-12 mb-4 single__message-form-content">
								<label for="message-body">توضیحات: </label>
								<textarea {{ is_logged_in() ? '' : 'disabled' }} {{ current_user_login() == companyAuthor ? 'disabled' : '' }} class="single__message-input" id="message-body" name="message-body" rows="5" required placeholder="لطفا محتوای پیام خود را وارد کنید." ></textarea>
							</div>

							<!-- Hidden input for message participants -->
							<input class="single__message-input" type="hidden" id="message-participants" name="message-participants" value="{{ companyAuthor }}">

							<input class="single__message-input" type="hidden" id="message-company-id" name="message-company-id" value="{{ post.ID }}">

							<button {{ current_user_login() == companyAuthor ? 'disabled' : '' }} class="single__message-submit message-sent-submit" type="submit">ارسال</button>
						</form>
					</div>
					<div class="company-single__image-gallery">
						{% for image in company_gallery_img_urls %}
							<div class="company-single__image-gallery-item">
								<a href="{{ image }}" target="_blank">
									<img src="{{ image }}"
										 alt="image-gallery"
										 loading="lazy"
									/>
								</a>
							</div>
						{% endfor %}
					</div>
				</div>
			</div>
			<div class="col-md-8">
				<article id="post-{{ post.ID }}" class="container company-single__main-content post-{{ post.ID }} single-{{ post.post_type }}">
					<div class="row company-single__intro">
						<div class="col-12">
							<div class="company-single__intro-content">
								<label>رزومه:</label>
								<p>
									{{ post.company_intro|slice(0, 200) }} <!-- Display a portion of the content -->
									<span class="company-single__intro-full-content" style="display: none;">
										{{ post.company_intro }} <!-- Full content -->
									</span>
								</p>
								<a href="#" class="company-single__intro-read-more-btn">بیشتر بخوانید</a>
							</div>
						</div>
					</div>
					<div class="row company-single--ad-banner">
						<div class="image-banner">
							<div class="image-banner__background">
								{% set companyAd = post.get_field('company_ad_banner') %}
								<picture>
									<img
										src="{{ companyAd.url }}"
										srcset="{{ companyAd.srcset }}"
										alt="{{ companyAd.title }}"
										title="{{ companyAd.title }}"
										loading="lazy" />
								</picture>
							</div>
						</div>
					</div>
					<div class="row company-single__info">
						<div id="map" class="col-12 gx-0 company-single__map">
							{{ leafletMapData }}
						</div>
						<div class="col-12 mb-3 col-lg-6 ">
							<div class="company-single__info-icon company-single--country">
								{{ fetch_svg('flag') }}
								<span>کشور:</span>
								<p>{{ post.company_country }}</p>
							</div>
							<div class="company-single__info-icon company-single--city">
								{{ fetch_svg('city') }}
								<span>شهر:</span>
								<p>{{ post.company_city }}</p>
							</div>
							<div class="company-single__info-icon company-single--job-field">
								{{ fetch_svg('chemistry') }}
								<span>نوع فعالیت:</span>
								<p>{{ post.company_job_field }}</p>
							</div>
							<div class="company-single__info-icon company-single--start-date">
								{{ fetch_svg('meta-calendar') }}
								<span>سال تاسیس:</span>
								<p>{{ post.company_start_date }}</p>
							</div>
							<div class="company-single__info-icon company-single--ceo">
								{{ fetch_svg('profile') }}
								<span>مدیر عامل:</span>
								<p>{{ post.company_ceo }}</p>
							</div>
							<div class="company-single__info-icon company-single--personnel-no">
								{{ fetch_svg('users') }}
								<span>تعداد پرسنل:</span>
								<p>{{ post.company_personnel }}</p>
							</div>
						</div>
						<div class="col-12 mb-3 col-lg-6 ">
							<div class="company-single__info-icon company-single--office-phone">
								{{ fetch_svg('office-phone') }}
								<span>تلفن دفتر:</span>
								<p>{{ post.company_office_phone }}</p>
							</div>
							<div class="company-single__info-icon company-single--company-phone">
								{{ fetch_svg('office-phone') }}
								<span>تلفن کارخانه:</span>
								<p>{{ post.company_phone }}</p>
							</div>
							<div class="company-single__info-icon company-single--office-address">
								{{ fetch_svg('tea-cup') }}
								<span>آدرس دفتر:</span>
								<p>{{ post.company_office_address }}</p>
							</div>
							<div class="company-single__info-icon company-single--company-address">
								{{ fetch_svg('factory') }}
								<span>آدرس کارخانه:</span>
								<p>{{ post.company_address }}</p>
							</div>
							<div class="company-single__info-icon company-single--mobile">
								{{ fetch_svg('phone') }}
								<span>موبایل:</span>
								<p>{{ post.company_phone }}</p>
							</div>
							<div class="company-single__info-icon company-single--fax">
								{{ fetch_svg('fax') }}
								<span>دورنگار:</span>
								<p>{{ post.company_fax }}</p>
							</div>
							<div class="company-single__info-icon company-single--email">
								{{ fetch_svg('envelope') }}
								<span>پست الکترونیک:</span>
								<p>{{ post.company_email }}</p>
							</div>
						</div>
					</div>

					{% set relatedProducts = [] %}
					{% for product in products %}
						{% set productsImg =  product.image_url %}
						{% set productLink = product.product_link %}
						{% set productsName =  product.get_name %}
						{% set productsCat =  product.product_cat|slice(0,1) %}
						{% set productsCatCas =  product.product_cat_cas %}
						{% set productsPurity =  product.product_purity %}
						{% set relatedProducts = relatedProducts|merge([{
							'post_title' : post.title,
							'image_url' : productsImg,
							'name' : productsName,
							'company_title' : post.title,
							'product_cat' : productsCat,
							'product_cat_cas' : productsCatCas,
							'product_purity' : productsPurity,
							'product_link' : productLink,
						}]) %}
					{% endfor %}
					{% include 'blocks/sliders/related-products-slider.twig' with {
						relatedProductSliderTitle : 'محصولات شرکت',
						products : relatedProducts,
					} %}

					{% set poster = post.get_field('company_video_bg') %}
					{% set aparatId = post.get_field('company_video_id') %}
					{% include 'blocks/layout/video-company.twig' with {
						videoPoster : poster,
						aparat : aparatId
					} %}

					{% set companyClients = post.get_field('company_clients') %}
					{% set clientImages = [] %}
					{% for client in companyClients %}
						{% set clientImg = client.client_img %}
						{% if clientImg %}
							{% set clientImages = clientImages|merge([{'src' : clientImg}]) %}
						{% endif %}
					{% endfor %}
					{% include 'blocks/sliders/related-content-slider.twig' with {
						relatedContentTitle : 'مشتریان',
						items: clientImages
					} %}

					{% set companyCatalogs = post.get_field('company_catalog') %}
					{% set catalogs = [] %}
					{% for catalog in companyCatalogs %}
						{% set catalogImg = catalog.catalog_img %}
						{% set catalogUpload = catalog.catalog_upload %}
						{% set catalogs = catalogs|merge([{'src' : catalogImg, 'catalog_upload' : catalogUpload}]) %}
					{% endfor %}
					{% include 'blocks/sliders/related-content-slider.twig' with {
						relatedContentTitle : 'کاتالوگ',
						items: catalogs,
					} %}

					{% set companyDocuments = post.get_field('company_documents') %}
					{% set documents = [] %}
					{% for document in companyDocuments %}
						{% set docImg = document.document_img %}
						{% set docTitle = document.document_title %}
						{% set documents = documents|merge([{'src' : docImg, 'document_title' : docTitle}]) %}
					{% endfor %}
					{% include 'blocks/sliders/related-content-slider.twig' with {
						relatedContentTitle : 'مجوز و گواهی ها',
						items: documents,
					} %}

				</article>
			</div>
		</div>
	</section>


{% endblock %}
