{% if fields.selected_cases is array %}
    <section class="exp-cases-slider" {{ anchor_block(fields.anchor_block) }}>
        <div class="swiper swiper-container swiper-container-exp-cases-slider js-exp-cases-slider">
            <div class="swiper-wrapper">
                {% for slide in fields.selected_cases %}
                    {% set case_image_ID = function('get_post_thumbnail_id', slide) %}
                    {% set case_image = Image(case_image_ID) %}
                    {% set case_fields = get_acf_fields(slide) %}
                    {% set case_url = function('get_the_permalink', slide) %}
                    <div class="swiper-slide exp-cases-slider__slide" data-pagination="{{ case_fields.nav_text }}">
                        <div class="exp-cases-slider__image-wrapper">
                            <img class="exp-cases-slider__image"
                                src="{{ case_image.src }}"
                                srcset="{{ case_image.srcset }}"
                                alt="{{ case_image.title }}"
                                title="{{ case_image.title }}"
                                loading="lazy"
                            />
                        </div>

                        <div class="exp-cases-slider__content">
                            <div class="container">
                                <div class="row">
                                    <div class="col-12 col-lg-6">
                                        {{ check_value(case_fields.subtitle, 'h5', 'exp-cases-slider__subtitle text-lg') }}
                                        {{ check_value(case_fields.title, 'h2', 'exp-cases-slider__title text-3xl') }}
                                        {% include "partial/button.twig" with {
                                            url : case_url,
                                            title : __('بیشتر بدانید', 'Expedition'),
                                            target : item.link.target,
                                            class : 'btn--white exp-cases-slider__url',
                                            icon : 'arrow-left'
                                        } %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>

            <div class="exp-cases-slider__controls">
                <div class="container">
                    <div class="row">
                        <div class="col-8 col-md-10">
                            <div class="exp-cases-slider__pagination"></div>
                        </div>

                        <div class="col-4 col-md-2">
                            <div class="exp-cases-slider__nav-wrapper">
                                <div class="exp-cases-slider__nav exp-cases-slider__nav--prev">
                                    {{ fetch_svg('chevron-right') }}
                                </div>

                                <div class="exp-cases-slider__nav exp-cases-slider__nav--next">
                                    {{ fetch_svg('chevron-left') }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endif %}
