<section class="exp-insight-latest-slider {{ background_color(fields.background_color) }}" {{ anchor_block(fields.anchor_block) }}>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="exp-insight-latest-slider__content">
                    {% if fields.show_subtitle == true %}
                        {{ check_value(fields.subtitle, 'h5', 'exp-insight-latest-slider__subtitle text-sm text-lg-lg') }}
                    {% endif %}

                    {% if fields.show_title == true %}
                        {{ check_value(fields.title, 'h1', 'exp-insight-latest-slider__title text-4xl text-lg-5xl') }}
                    {% endif %}

                    {% if fields.show_text == true %}
                        {{ check_value(fields.text, 'p', 'exp-insight-latest-slider__text text-base text-md-lg') }}
                    {% endif %}

                    {% if fields.show_link == true and fields.link is array %}
                        {% include "partial/button.twig" with {
                            url : fields.link.url,
                            title : fields.link.title,
                            target : fields.link.target,
                            class : 'btn--primary exp-insight-latest-slider__button',
                            icon : 'arrow-left'
                        } %}
                    {% endif %}

                    <div class="exp-insight-latest-slider__controls">
                        <div class="exp-insight-latest-slider__pagination"></div>

                        <div class="exp-insight-latest-slider__nav-wrapper">
                            <div class="exp-insight-latest-slider__nav exp-insight-latest-slider__nav--prev">
                                {{ fetch_svg('chevron-right') }}
                            </div>

                            <div class="exp-insight-latest-slider__nav exp-insight-latest-slider__nav--next">
                                {{ fetch_svg('chevron-left') }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                {% if latest_insights is array %}
                    <div class="swiper swiper-container exp-insight-latest-slider__swiper-container js-exp-insight-latest-slider">
                        <div class="swiper-wrapper">
                            {% for slide in latest_insights %}
                                <div class="swiper-slide exp-insight-latest-slider__slide">
                                    <div class="exp-insight-latest-slider__slide-header">

                                        <img class="exp-insight-latest-slider__slide-image"
                                            src="{{ slide.thumbnail.src }}"
                                            srcset="{{ slide.thumbnail.srcset }}"
                                            alt="{{ slide.thumbnail.alt }}"
                                            title="{{ slide.thumbnail.title }}"
                                            loading="lazy"
                                        />
                                    </div>
                                    <div class="exp-insight-latest-slider__slide-content">
                                        <span>{{ __('محصول: ', 'expedition') }}</span>
                                        {{ check_value( slide.post_title, 'h2', 'exp-insight-latest-slider__slide-title') }}
                                        <span>{{ __('توضیحات: ', 'expedition') }}</span>
                                        {{ check_value(slide.desc, 'p', 'exp-insight-latest-slider__slide-desc') }}
                                        {{ check_value(slide.cas_number,'p', 'exp-insight-latest-slider__slide-number') }}
                                        <span>{{ __('تاریخ انتشار: ', 'expedition') }}</span>
                                        <p class="exp-insight-latest-slider__slide-date" >{{ slide.date }}</p>
                                    </div>

                                    <a href="{{ function('get_the_permalink', slide.ID) }}" class="exp-insight-latest-slider__slide-link"></a>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
</section>