<div class="row related-product-slider" >
    <div class="col-12 gx-0">
        <div class="related-product-slider__header">
            <h3 class="related-product-slider__title">
                {{ relatedProductTitle }}
            </h3>
            <div class="related-product-slider__controls">
                <div class="related-product-slider__pagination"></div>
                <div class="related-product-slider__nav-wrapper">
                    <div class="related-product-slider__nav related-product-slider__nav--prev">
                        {{ fetch_svg('chevron-right') }}
                    </div>

                    <div class="related-product-slider__nav related-product-slider__nav--next">
                        {{ fetch_svg('chevron-left') }}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-12 gx-0">
        <div class="swiper swiper-container related-product-slider__swiper-container js-related-product-slider">
            <div class="swiper-wrapper">
                {% for i in range(1, 6) %}
                    <div class="swiper-slide related-product-slider__slide">
                        <div class="related-product-slider__product-header">
                            <img class="related-product-slider__product-image"
                                 src="/wp-content/uploads/2023/07/close-up-researcher-holding-glassware-1.jpg"
                                 alt="{{ product.get_title }}"
                                 loading="lazy"
                            />
                        </div>
                        <div class="related-product-slider__product-content">
                            <p class="related-product-slider__product-company">شرکت دکتر مجللی</p>
                            <p class="related-product-slider__product-name">متانول</p>
                            <p class="related-product-slider__product-category">صنایع شیمیایی</p>
                            <p class="related-product-slider__product-cas"> CAS No: 2324-23-222 </p>
                            <p class="related-product-slider__product-purity">Purity: 90%</p>
                            <p class="related-product-slider__product-publish-date">تاریخ انتشار: 2022/12/02</p>
                        </div>
                        <a href="{{ product.get_permalink() }}" class="related-product-slider__product-link"></a>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
