<div class="row related-product-slider" >
    <div class="col-12 gx-0">
        <div class="related-product-slider__header">
            <h3 class="related-product-slider__title">
                {{ relatedProductSliderTitle }}
            </h3>
            <div class="related-product-slider__controls">
                <div class="related-product-slider__pagination"></div>
                <div class="related-product-slider__nav-wrapper">
                    <div class="related-product-slider__nav related-product-slider__nav--prev">
                        {{ fetch_svg('chevron-right') }}
                    </div>

                    <div class="related-product-slider__nav related-product-slider__nav--next">
                        {{ fetch_svg('chevron-left') }}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-12 gx-0">
        <div class="swiper swiper-container related-product-slider__swiper-container js-related-product-slider">
            <div class="swiper-wrapper">
                {% for product in products %}
                    <div class="swiper-slide related-product-slider__slide">
                        <div class="related-product-slider__product-header">
                            <img class="related-product-slider__product-image"
                                 src="{{ product.image_url.src }}"
                                 srcset="{{ product.image_url.srcset }}"
                                 alt="{{ product.name }}"
                                 title="{{ product.name }}"
                                 loading="lazy"
                            />
                        </div>
                        <div class="related-product-slider__product-content">
                            <p class="related-product-slider__product-company">{{ product.company_title }}</p>
                            <p class="related-product-slider__product-name">{{ product.name }}</p>

                            {% for category in product.product_cat %}
                                {{ check_value(category.name, 'p', 'related-product-slider__product-category') }}
                            {% endfor %}

                            {% if product.product_cat_cas %}
                                {% for category in product.product_cat_cas %}
                                    {{ check_value('Cas No : ' ~ category.name, 'p', 'related-product-slider__product-cas') }}
                                {% endfor %}
                            {% endif %}

                            {% if product.product_purity %}
                                {{ check_value('Purity : ' ~ product.product_purity~'%', 'p', 'related-product-slider__product-purity') }}
                            {%  endif %}

                            {{ check_value('تاریخ انتشار: '  ~ english_numbers(product.post_date|date('d-m-Y')) , 'p', 'related-product-slider__product-publish-date') }}
                        </div>
                        <a href="{{ product.product_link }}" class="related-product-slider__product-link"></a>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
