<section class="requests-slider {{ background_color(fields.background_color) }}" {{ anchor_block(fields.anchor_block) }}>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="requests-slider__content">
                    {% if fields.show_subtitle == true %}
                        {{ check_value(fields.subtitle, 'h5', 'requests-slider__subtitle text-sm text-lg-lg') }}
                    {% endif %}

                    {% if fields.show_title == true %}
                        {{ check_value(fields.title, 'h1', 'requests-slider__title text-3xl text-lg-4xl') }}
                    {% endif %}

                    {% if fields.show_text == true %}
                        {{ check_value(fields.text, 'p', 'requests-slider__text text-base text-md-lg') }}
                    {% endif %}

                    {% if fields.show_link == true and fields.link is array %}
                        {% include "partial/button.twig" with {
                            url : fields.link.url,
                            title : fields.link.title,
                            target : fields.link.target,
                            class : 'btn--primary requests-slider__button',
                            icon : 'arrow-left'
                        } %}
                    {% endif %}

                    <div class="requests-slider__controls">
                        <div class="requests-slider__pagination"></div>

                        <div class="requests-slider__nav-wrapper">
                            <div class="requests-slider__nav requests-slider__nav--prev">
                                {{ fetch_svg('chevron-right') }}
                            </div>

                            <div class="requests-slider__nav requests-slider__nav--next">
                                {{ fetch_svg('chevron-left') }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                {% if requests is array %}
                    <div class="swiper swiper-container requests-slider__swiper-container js-requests-slider">
                        <div class="swiper-wrapper">
                            {% for slide in requests %}
                                <div class="swiper-slide requests-slider__request">
                                    <div class="requests-slider__request-content">
                                        {{ check_value(slide.post_title, 'h2', 'requests-slider__request-title') }}

                                        {% set casNumbers = slide.request_cat_cas  %}
                                        {%  for cas in casNumbers %}
                                            {{ check_value('Cas No: ' ~ cas.name,'p', 'requests-slider__request-number') }}
                                        {% endfor %}
                                        <span>{{ __('توضیحات: ', 'expedition') }}</span>
                                        {{ check_value(slide.request_desc|slice(0,100) ~ '...', 'p', 'requests-slider__request-desc') }}

                                        {% set publishedDate = slide.post_date|date('d-m-Y') %}
                                        {% set expiryDuration = slide.expire_duration|default(0) %}
                                        {% set remainingDays = expiry_date(publishedDate, expiryDuration) %}
                                        <div class="requests-slider__request-expiry">
                                            {% if remainingDays < 0 %}
                                                <p>تاریخ انتشار: منقضی شده</p>
                                            {% else %}
                                                <p>مدت اعتبار باقی مانده: {{ english_numbers(remainingDays) }} روز</p>
                                            {% endif %}
                                        </div>

                                        <div class="requests-slider__request-purity">
                                            <div class= "progress-container js-progress-container" data-percentage='{{ slide.request_purity }}' id="progress-{{ slide.ID }}">
                                                <div class="progress"></div>
                                                <div class="percentage">0%</div>
                                            </div>
                                        </div>
                                        <p class="requests-slider__request-date" >{{ 'تاریخ انتشار: ' ~ english_numbers(slide.post_date|date('d-m-Y')) }}</p>
                                    </div>

                                    <a href="{{ function('get_the_permalink', slide.ID) }}" class="requests-slider__request-link"></a>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
</section>