<section class="exp-program-overview">
    <div class="exp-program-overview__breadcrumbs">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    {{ custom_breadcrumbs() }}
                </div>
            </div>
        </div>
    </div>

    <div class="exp-program-overview__header">
        <div class="container">
            <div class="row justify-content-center pt-5 pb-5">
                <div class="col-12 col-lg-10 col-xl-8 text-center">
                    {% if fields.is_use_page_title == true %}
                        <h1 class="exp-program-overview__title">{{ function('get_the_title') }}</h1>
                    {% else %}
                        {{ check_value(fields.title, 'h1', "exp-program-overview__title") }}
                    {% endif %}

                    {% if fields.is_show_intro_text == true %}
                        {{ check_value(fields.intro_text, 'p', "exp-program-overview__text") }}
                    {% endif %}

                    {% filter shortcodes %}
                        [facetwp facet="certification_programs_search"]
                    {% endfilter %}
                </div>
            </div>
        </div>
    </div>

    <div class="exp-program-overview__body">
        <div class="exp-program-overview__filter">
            {% filter shortcodes %}
                <h3 class="exp-program-overview__filter-title">
                    {{ __('Refine your results', 'expedition') }}
                </h3>

                <div class="exp-program-overview__filter-header">
                    <span class="exp-program-overview__filter-toggle">
                        <svg width="14" height="13" viewBox="0 0 14 13" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M13.2524 1.10633L13.2525 1.10673C13.3308 1.27813 13.357 1.46872 13.328 1.65488C13.2989 1.84104 13.2159 2.01458 13.0891 2.15398L8.97661 6.67272L8.96847 6.68166V6.69375V10.2313V10.2314C8.96904 10.3906 8.93008 10.5476 8.85506 10.6881C8.78005 10.8286 8.67134 10.9483 8.53867 11.0365L8.5386 11.0365L6.5386 12.374C6.37916 12.4807 6.19165 12.5375 5.99985 12.5375C5.84141 12.5359 5.68565 12.4964 5.54557 12.4224L5.54551 12.4223C5.39002 12.3406 5.25987 12.2178 5.16916 12.0674C5.07846 11.9169 5.03067 11.7445 5.03097 11.5688V11.5688V6.69375V6.68166L5.02283 6.67272L0.910569 2.15423C0.910529 2.15419 0.910489 2.15415 0.91045 2.1541C0.786017 2.01416 0.704514 1.84135 0.675686 1.65632C0.646848 1.47123 0.67194 1.28175 0.74796 1.11055C0.823979 0.939341 0.947708 0.79366 1.10435 0.690927C1.26095 0.588218 1.44382 0.532784 1.6311 0.531254L12.3685 0.531254L12.3686 0.531254C12.5559 0.530725 12.7392 0.584852 12.8962 0.687001C13.0532 0.789149 13.177 0.934881 13.2524 1.10633Z" fill="#4F6566" stroke="#4F6566" stroke-width="0.0625"/></svg>
                        {{ __('Filters', 'expedition') }}
                    </span>
                    <span class="exp-program-overview__filter-clear">
                        <a href="javascript:;" onclick="FWP.reset()">{{ __('Clear all filters', 'expedition') }}</a>
                    </span>
                </div>

                <h4 class="exp-program-overview__filter-subtitle">{{ __('Regions', 'expedition') }}:</h4>
                [facetwp facet="region_filter"]

                <h4 class="exp-program-overview__filter-subtitle">{{ __('Industries', 'expedition') }}:</h4>
                [facetwp facet="certification_industries_filter"]
            {% endfilter %}
        </div>

        <div class="exp-program-overview__results">
            {% filter shortcodes %}
                [facetwp facet="number_of_results"]
                [facetwp template="certification_programs"]
                [facetwp facet="pagination"]
            {% endfilter %}
        </div>
    </div>
</section>
