<div class="card{{ customClass }}">
    {% if image is not empty %}
        {% set image = Image(image) %}
    {% else %}
        {% set image = Image(function('get_stylesheet_directory') ~ '/images/image-header-placeholder.jpg') %}
    {% endif %}
    <img class="card__image" src="{{ image.src }}" srcset="{{ image.srcset }}" alt="{{ image.alt }}" title="{{ title }}" loading="lazy" />

    <div class="card__head">
        <div class="card__title-block">
{#            {% if id is not empty %}#}
{#                {% set item_fields = get_acf_fields(id) %}#}
{#                {% if item_fields.icon is array %}#}
{#                    {% for icon in item_fields.icon %}#}
{#                        <span>{{ fetch_svg(icon.icons) }}</span>#}
{#                    {% endfor %}#}
{#                {% endif %}#}
{#            {% endif %}#}

            {% if title is not empty %}
                <h3 class="card__title">
                    {{ title }}
                    {{ fetch_svg('chevron-left') }}
                </h3>
            {% endif %}
        </div>                        

        {% if content is not empty %}
            <p class="card__content">{{ content }}</p>
        {% endif %}
    </div>

    {% if url is not empty %}
        <a href="{{ url }}" title="{{ title }}" class="click-url"></a>
    {% endif %}
</div>