<div class="card{{ customClass }}">
    {% if image is not empty %}
        {% set image = Image(image) %}
    <img class="card__image" src="{{ image.src }}" srcset="{{ image.srcset }}" alt="{{ image.alt }}" title="{{ title }}" loading="lazy" />
    {% endif %}

    <div class="card__head">
        <div class="card__title-block">
            {% if title is not empty %}
                <h3 class="card__title">
                    {{ title }}
                    {{ fetch_svg('chevron-left') }}
                </h3>
            {% endif %}
        </div>                        
        <div class="card__content">
            {% if content is not empty %}
                <p>{{ content }}</p>
            {% endif %}

            {% if weight is not empty %}
                <p>{{ weight }}</p>
            {% endif %}

            {% if publishedDate is not empty %}
                <p>{{ publishedDate }}</p>
            {% endif %}

            {% if expireDate is not empty %}
                <p>{{ expireDate }}</p>
            {% endif %}

            {% if btnTitle is not empty %}
                <a href="{{ btnTitle }}" title="{{ btnTitle }}" class="card__contact-btn">
                    {{ btnTitle }}
                </a>
            {% endif %}
        </div>
    </div>

    {% if url is not empty %}
        <a href="{{ url }}" title="{{ title }}" class="click-url"></a>
    {% endif %}
</div>