{% if products is not empty %}
    <div class="company-single__message-container">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div id="group-message-modal" class="group-message-modal">
                        <div class="message-modal-content">
                            <form class="row single__message-form" id="message-form-{{ post.ID }}" action="" method="POST">
                                <div class="col-12 mb-4 single__message-form-content">
                                    <label for="message-subject">موضوع: </label>
                                    <input class="single__message-input" type="text" id="message-subject" name="subject" required placeholder="عنوان پیام را وارد کنید." {{ is_logged_in() ? '' : 'disabled' }} >
                                </div>
                                <div class="col-12 mb-4 single__message-form-content">
                                    <label for="message-body">توضیحات: </label>
                                    <textarea {{ is_logged_in() ? '' : 'disabled' }}  class="single__message-input" id="message-body" name="message-body" rows="5" required placeholder="لطفا محتوای پیام خود را وارد کنید." ></textarea>
                                </div>

                                <!-- Hidden input for message participants -->
                                <input class="single__message-input" type="hidden" id="message-participants" name="message-participants" value="">

                                <input class="single__message-input" type="hidden" id="message-product-ids" name="message-product-ids" value="">

                                <input class="single__message-input" type="hidden" id="message-company-id" name="message-company-id" value="{{ post.ID }}">

                                <button id="send-selected-users-button" class="single__message-submit message-sent-submit" type="submit">ارسال</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% for post in products %}
        <div class="row mb-6 bg-primary-gray rounded-4">
            <div class="col-md-8">
                <article itemscope itemtype="http://schema.org/Product" id="post-{{ post.ID }}" class="archive-product__main-content post-{{ post.ID }} single-{{ post.post_type }}">
                    <div class="row archive-product__info">
                        <div class="col-md-3 m-auto p-0">
                            <div class="archive-product__thumbnail">
                                <picture>
                                    <img
                                        src="{{ post.thumbnail.src }}"
                                        srcset="{{ post.thumbnail.srcset }}"
                                        alt="{{ post.thumbnail.title }}"
                                        title="{{ post.thumbnail.title }}"
                                        loading="lazy" />
                                </picture>
                            </div>
                        </div>
                        <div class="col-md-9">
                            <div class="row">
                                <div class="col-12">
                                    <div class="archive-product__info-content-head">
                                        <a href="{{ post.link }}">
                                            <h4 class="archive-product__product-name">{{ post.title }}</h4>
                                        </a>
                                        {% set productCasNumbers = post.terms('product_cas_no') %}
                                        {% for productCasNo in productCasNumbers %}
                                            <a class="archive-product__cas-number" href="{{ productCasNo.link }}">
                                                <p >{{ 'Cas No: ' ~  productCasNo.name }}</p>
                                            </a>
                                        {% endfor %}
                                        <p class="archive-product__product-date">{{'تاریخ ثبت: ' ~ english_numbers(post.date('d-m-Y')) }}</p>
                                    </div>
                                </div>
                                <div class="col-12 mb-3 col-lg-6 ">
                                    <div class="archive-product__info-content-main product-single--country">
                                        <span>برند: </span>
                                        <p>{{ acf_select_field_label('product_brand', post.product_brand) }}</p>
                                    </div>
                                    <div class="archive-product__info-content-main product-single--city">
                                        <span>شکل ظاهری: </span>
                                        <p>{{ post.product_appearence }}</p>
                                    </div>
                                    <div class="archive-product__info-content-main product-single--job-field">
                                        <span>کشور تولید کننده: </span>
                                        <p>{{ acf_select_field_label('product_country', post.product_country) }}</p>
                                    </div>
                                    <div class="archive-product__info-content-main product-single--start-date">
                                        <span>برگه آنالیز: </span>
                                        <p>{{ post.product_analyse }}</p>
                                    </div>
                                    <div class="archive-product__info-content-main product-single--ceo">
                                        <span>محل تحویل: </span>
                                        <p>{{ acf_select_field_label('product_location', post.product_location) }}</p>
                                    </div>
                                    <div class="archive-product__info-content-main product-single--personnel-no">
                                        <span>کد شناسایی یا نام اختصاصی: </span>
                                        <p>{{ post.product_unique_id }}</p>
                                    </div>
                                </div>
                                <div class="col-12 mb-3 col-lg-6 ">
                                    <div class="archive-product__info-content-main product-single--office-phone">
                                        <span>درصد خلوص: </span>
                                        <p>{{ post.product_purity }}</p>
                                    </div>
                                    <div class="archive-product__info-content-main product-single--company-phone">
                                        <span>گرید: </span>
                                    </div>
                                    <div class="archive-product__info-content-main product-single--office-address">
                                        <span>بسته بندی: </span>
                                            {% set productUnit = post.product_unit %}
                                        <p>{{ post.product_package }} {{ english_numbers(post.product_weight) }} {{ acf_select_field_label('product_unit', productUnit) }}</p>
                                    </div>
                                    <div class="archive-product__info-content-main product-single--company-address">
                                        <span>حداقل سفارش: </span>
                                        <p>{{ post.product_order_quantity }}</p>
                                    </div>
                                    <div class="archive-product__info-content-main product-single--mobile">
                                        <span>قیمت: </span>
                                        <p>{{ post.product_price }}</p>
                                    </div>
                                    <div class="archive-product__info-content-main product-single--analyse-download">
                                        <a href="{{ post.get_field('product_analyse_download').url }}">دانلود برگه آنالیز(COA)</a>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <h5 class="archive-product__intro-content-label">توضیحات:</h5>
                                    <div class="archive-product__intro-content">
                                        {{ check_value(post.content ~ '...', 'p', '')|slice(0, 120) }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </article>
            </div>
            <div class="col-md-4 m-auto">
                <div class="archive-product__sidebar">
                    {% set productSuppliers = post.get_field('product_supplier_linked') %}
                    {% set productUser = recipient_user(post.ID) %}
                    {% set productIcon = Image(post.product_icon) %}
                    {% for productSupplier in productSuppliers %}
                        {% set supplierIcon = Image(productSupplier.get_field('company_icon')) %}
                        {% if productUser != current_user_login() %}
                            <div class="archive-product__select-checkbox">
                                <label for="select-product-{{ post.ID }}">انتخاب شرکت</label>
                                <input class="select-company-message" type="checkbox" id="select-product-{{ post.ID }}" name="company-cas-select" value="{{ post.ID }}" data-userauthor="{{ productUser }}" />
                            </div>
                        {% endif %}
                        <div class="archive-product__supplier-icon">
                            <img src="{{ supplierIcon.src }}"
                                 srcset="{{ supplierIcon.srcset }}"
                                 alt="{{ supplierIcon.post_title }}"
                                 title="{{ supplierIcon.post_title }}"
                                 loading="lazy"
                            />
                        </div>
                        <a href="{{ productSupplier.link}}">
                            <h3 class="archive-product__product-supplier">{{ productSupplier.post_title }}</h3>
                        </a>
                        <div class="archive-product__contact-btn">
                            {% include "partial/button.twig" with {
                                url : is_logged_in() ? 'tel:' ~ productSupplier.get_field('company_mobile') : '/register',
                                title : 'تماس با شرکت',
                                target : fields.button.target,
                                class : 'btn--primary product-single__button',
                                icon : 'phone'
                            } %}
                        </div>
                        <div class="archive-product__contact-btn">
                            {% include "partial/button.twig" with {
                                url : is_logged_in() ? '/my-account/message_management/?fepaction=newmessage&recipient=' ~ productUser : '/register',
                                title : 'ارسال پیام به شرکت',
                                target : fields.button.target,
                                class : 'btn--primary product-single__button',
                                icon : 'envelope'
                            } %}

                        </div>
                        <div class="archive-product__supplier-gallery">
                            {% set companyImgGallery = Image(productSupplier.get_field('company_reward')) %}
                            {% for gallery in companyImgGallery %}
                                <div class="archive-product__image-gallery-item">
                                    <img src="{{ gallery.src }}"
                                         srcset="{{ gallery.srcset }}"
                                         alt="{{ gallery.post_title }}"
                                         title="{{ gallery.post_title }}"
                                         loading="lazy"
                                    />
                                </div>
                            {% endfor %}
                        </div>
                        <div class="archive-product__company-products-btn">
                            {% include "partial/button.twig" with {
                                url : productSupplier.link,
                                title : 'همه محصولات تامین کننده',
                                target : fields.button.target,
                                class : 'btn--primary product-single__button',
                                icon : 'chemistry'
                            } %}
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    {% endfor %}
{% else %}
    <p>No Products Found</p>
{% endif %}
